<%- partial('../partials/header_authenticated')%>

<div id="content-section">
    <h1>Enroll</h1>

<br/>
    <p>Please enter the desired subject to enroll:</p>

    <div class="row">
        <div class="form-wrapper">
            <form  action="/enroll" class="form-horizontal" role="form" method="post">


        <div class="form-group">
            <label for="inputSubject" class="col-sm-2 control-label">Subject:</label>
            <div class="col-sm-10">
                <select class="form-control input-sm" name="subject" id="inputSubject">
                    <% if (list.length > 0) {list.forEach(function(u) { %>
                    <option value="<%=u.name%>"><%=u.name%></option>
                    <%});}%>
                </select>
            </div>
            </div>


                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-primary btn-lg">Enroll</button>
                    </div>
                </div>



    </form>

</div>
<div id="chat-section">
    <%- partial('../chat/chat')%>
</div>

<%- partial('../partials/footer')%>




