<%- partial('../partials/header_authenticated')%>

<div id="content-section">
    <h1><%=sub%></h1>

    <h3>Exam information</h3>
    <%=ex%>
    <br/><br/>
    <h3>Project information</h3>
    <%=pr%>
    <br/><br/>
    <h3>Group</h3>
    <%if (hasgroup){%>
    <a href="/group?sub=<%=sub%>">Project Group</a>
    <%}else{%>
    <a href="/creategroup?sub=<%=sub%>">Create Project Group</a>
    <%}%>
</div>
<div id="chat-section">
    <%- partial('../chat/chat')%>
</div>

<%- partial('../partials/footer')%>

