<%- partial('../partials/header_authenticated')%>

<div id="content-section">
    <div class="page-header">
        <h1><%=sub%></h1>
    </div>

    <h2>Exam information</h2>
    <p><%=ex%></p>
    
    
    <h2>Project information</h2>
    <p><%=pr%></p>
    
    <h2>Groups</h2>
    <%if (hasgroup){%>
    <a href="/group?sub=<%=sub%>" class="btn btn-primary">Project Group</a>
    <%}else{%>
    <a href="/creategroup?sub=<%=sub%>" class="btn btn-primary">Create Project Group</a>
    <%}%>
</div>
<div id="chat-section">
    <%- partial('../chat/chat')%>
</div>

<%- partial('../partials/footer')%>

