<% var title = 'Landing' %>
<%- partial('../partials/header_authenticated')%>

<div id="content-section">
<div class="page-header">
<h1>Welcome</h1>
</div>
<% if (type=='professor'){ %>
<p>
    <a href='/createsubject'> Create Subject</a>
</p>
<p>
    <a href='/createexam'> Create Exam</a>
</p>
<p>
    <a href='/createproject'> Create Project</a>
</p>
<% } else { %>
<p>
    <a href='/enroll'> Enroll Subject </a>
</p>


<h3>Your Subjects:</h3>
<div class="list">
<ul class="">
<% if (list.length > 0) {
    list.forEach(function(u) { 
%>
<div><a href="/subjectmenu?subject=<%=u%>"><%=u%></a><br/></div>
<%                          });
    }
%>
</ul>
</div>
<h3>Your Groups:</h3>
<% if (list2.length > 0) {list2.forEach(function(a) { %>
<tr><%=a%><br/></tr>
<%});}%>
<%}%>

</div>
<div id="chat-section">
<%- partial('../chat/chat')%>
</div>

<%- partial('../partials/footer')%>